body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, #02f754, #025a27);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: rgba(3, 3, 3, 0.8);
  font-size: 4rem;
}

h2 {
  text-align: center;
  color: rgba(3, 3, 3, 0.8);
  font-size: 4rem;
}

button {
  background: rgba(10, 51, 31, 0.3);
  font-size: 2rem;
  min-width: 100px;
  min-height: 100px;
  margin: 5px;
  color: rgba(243, 250, 248, 0.8);
  border: solid 4px rgba(2, 2, 2, 0.8);
  border-radius: 10px;
  transition: 200ms;
}

button:hover {
  background: rgb(128, 0, 0);
}

button:active {
  background: rgba(7, 248, 107, 0.4);
}
